.title {
  display: grid;
  gap: 16px;
  justify-content: center;
}

.title__heading {
  color: #121212;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.title__description {
  color: #939199;
  font-size: 14px;
}
